<!-- TIPS -->

<section class="tips">
    <h3 class="tips__title">Glamping Tips</h3>
    <article class="tips__article">
        <h4 class="tips__article-title">Every site tells a story</h4>
        <p class="tips__article-text">
            Glamping accommodations, in most cases, take advantage of the
            surrounding elements, creating the best space for eco - friendly travel
            and sustainable tourism.
        </p>
        <div class="tips__buttom">
            <p class="tips__buttom--link">Go</p>
        </div>
    </article>
</section>

<!-- REASONS -->

<section id="reasons" class="reasons">
    <h2 class="reasons__title">3 Reasons To Purchase</h2>

    <div class="reasons__grid">
        <div class="reasons__item--item1">
            <h3 class="reasons__item-title">@@title</h3>
            <p class="reasons__item-text">@@text</p>
        </div>
        <div class="reasons__item--item2">
            <h3 class="reasons__item-title">Curabitur ac erat</h3>
            <p class="reasons__item-text">
                Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reasons__item--item3">
            <h3 class="reasons__item-title">Morbi dictum</h3>
            <p class="reasons__item-text">
                Aliquam in dolor et dolor tincidunt.
            </p>
        </div>
    </div>
    <buttom class="reasons__buttom">More reasons</buttom>
</section>