<section id="reasons" class="reasons">
    <h2 class="reasons__title">3 reasons to go glamping</h2>

    <div class="reasons__article">
        <article class="reasons__article--item item1">
            <h3 class="reasons__article--title">It is confortable</h3>
            <p class="reasons__article--text">Step into a tall canvas tent with room to spread out</p>
        </article>
        <article class="reasons__article--item item2">
            <h3 class="reasons__article--title">The locations</h3>
            <p class="reasons__article--text">
                Glamping brings you to places that hotels and resorts can’t</p>
        </article>
        <article class="reasons__article--item item3">
            <h3 class="reasons__article--title">It’s eco-friendly</h3>
            <p class="reasons__article--text">
                Glamping itself is a low impact green activity
            </p>
        </article>
    </div>

    <div>
        <input class="reasons__buttom" type="button" value="More reasons">
    </div>

</section>