<section class="tips">
    <h3 class="tips__title">Glamping Tips</h3>
    <article class="tips__article">
        <h4 class="tips__article--title">Every site tells a story</h4>
        <p class="tips__article--text">
            Glamping accommodations, in most cases, take advantage of the
            surrounding elements, creating the best space for eco - friendly travel
            and sustainable tourism.
        </p>
        <div class="tips__buttom">
            <p class="tips__buttom--link">Go</p>
        </div>
    </article>
</section>