// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

// colors

$color-blue: #0271bc;
$colorlightblue: #8ccbea;
$background-reasons: #eff9ff;
$color-orange: #f26002;
$color-white: #ffffff;
$background-footer: rgb(73, 112, 197);
$color-grey: #4a4a4a;
