// fonts
$font-title: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;505;700&display=swap");

// colors

$colormenu: #0271bc;
$colorlightblue: #8ccbea;
$background-reasons: #eff9ff;
$color-reasons-buttom: #f26002;
$color-white-text: #ffffff;
$background-footer: #304268;
$colorheart: #f26002;
