// fonts
$font-main: "Roboto", sans-serif;
$font-title: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;505;700&display=swap");

// colors

$color-blue: #0271bc;
$colorlightblue: #8ccbea;
$background-reasons: #eff9ff;
$color-orange: #f26002;
$color-white: #ffffff;
$background-footer: #304268;
$color-grey: #4a4a4a;
