.footer {
  background-color: $background-footer;

  &__all {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    @include desktop {
      justify-content: space-evenly;
    }
  }

  &__buttom {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
  }
  &__list {
    list-style: none;
    color: $color-white;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 40px;
    @include tablet {
      text-align: left;
    }
  }
  &__social {
    list-style: none;
    color: $color-white;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 40px;
    @include tablet {
      // align-items: flex-start;
      text-align: left;
    }
  }
  &__list--item {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      order: 1;
      align-items: flex-start;
    }
  }

  &__small-year {
    color: $color-white;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
  }
  &__small-we {
    color: $color-white;
    font-size: 14px;
    font-weight: normal;
    line-height: 4;
    margin-bottom: 20px;
  }
  &__small-heart {
    color: $color-orange;
  }
}

@include tablet {
  .nav-1 {
    order: 2;
  }
  .nav-2 {
    order: 3;
  }
}

@keyframes intro {
  from {
    transform: scale(10) rotate(-150deg);
    opacity: 0;
    color: $color-white;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
