.footer {
  width: 100vw;
  height: auto;
  background-color: $background-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px;

  &__buttom {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-white-text;
    text-align: center;
    line-height: 60px;
    transform: translate(0, -50%);
  }
  &__list {
    list-style: none;
    color: $color-white-text;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  &__list--item {
    text-decoration: none;
    color: $color-white-text;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
  }
  &__small-year {
    color: $color-white-text;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
  }
  &__small-we {
    color: $color-white-text;
    font-size: 14px;
    font-weight: normal;
    line-height: 4;
    margin-bottom: 20px;
  }
  &__small-heart {
    color: $colorheart;
  }
}
.footer__all {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;

    &__small-we {
      order: 1;
    }
  }
  @media (min-width: 1200px) {
    padding-left: 370px;
    padding-right: 370px;
    justify-content: space-around;
  }
}
