.footer {
  background-color: $background-footer;

  &__all {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    @include desktop {
      justify-content: space-between;
    }
  }

  &__buttom {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-white;
    margin: 0 auto;
    transform: translate(0, -50%);
    cursor: pointer;
    animation-name: button-footer-move;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

    img {
      padding: 10.5px 12px;
    }
  }

  &__list {
    list-style: none;
    color: $color-white;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 40px;
    @include tablet {
      text-align: left;
    }
  }
  &__social {
    list-style: none;
    color: $color-white;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 40px;
    @include tablet {
      text-align: left;
    }
  }
  &__list--item {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      order: 1;
      align-items: flex-start;
    }
  }

  &__small-year {
    color: $color-white;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
  }
  &__small-we {
    color: $color-white;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 4;
    margin-bottom: 20px;
  }
  &__small-heart {
    color: $color-orange;
  }
}

@include tablet {
  .nav-1 {
    order: 2;
  }
  .nav-2 {
    order: 3;
  }
}

@keyframes button-footer-move {
  from {
    transform: translate(0, -50%) scale(1);
  }
  to {
    transform: translate(0, -20%) scale(1.1);
  }
}
