.main__hero {
  height: 100vh;
  background: url("../images/Boutique_Camping_option_2.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 25px;
  color: $color-white;

  &--title {
    font-size: 2.625rem;
    word-spacing: 100vw;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: uppercase;
    line-height: 55px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

    @include tablet {
      font-size: 5rem;
      line-height: 106px;
    }

    @include desktop {
      color: rgb(73, 112, 197);
      font-size: 6.25rem;
      line-height: 132px;
    }
  }

  &--subtitle {
    font-size: 1rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
      padding-bottom: 30px;
    }
  }

  &--buttom {
    width: 45px;
    height: 45px;
    margin-bottom: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    background-color: $color-white;

    @include tablet {
      margin-bottom: 45px;
    }
    @include desktop {
      margin-bottom: 13px;
    }

    img {
      padding: 16.5px 12.5px;
    }
  }
}
